.Gallery {
}

.Gallery p {
  line-height: var(--font-lg);
}

.Wrapper {
  max-width: var(--max-page-width);
  padding: var(--containerPadding);
  margin: 0 auto;
}

.center {
  text-align: center;
}

.Juicer h1 {
  display: none !important;
}
