@import url('https://fonts.googleapis.com/css2?family=Covered+By+Your+Grace&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import url('https://assets.juicer.io/embed.css');
@import 'react-image-gallery/styles/css/image-gallery.css';

:root {
  --lightBlue: rgb(16, 208, 233);
  --blue: #41a7d2;
  --pink: #f96f9b;
  --dark-pink: #af4173;
  --gradientBlue: linear-gradient(var(--lightBlue) 0, var(--blue) 100%);
  --gradientBlueReverse: linear-gradient(var(--blue) 0, var(--lightBlue) 100%);

  --gradientPink: linear-gradient(135deg, #743e57, #c41e69),
    linear-gradient(180deg, var(--dark-pink), var(--dark-pink));

  --gradientPinkBlue: linear-gradient(3deg, var(--blue), var(--dark-pink) 67%);
  --dark: #404047;
  --gray: #b4b4b4;

  --darkTransparent: rgba(0, 0, 0, 0.5);
  --whiteTransparent: rgba(255, 255, 255, 0.7);

  --spacing1: 0.5em;
  --spacing2: 1em;
  --spacing3: 2em;
  --spacing4: 4em;
  --spacing5: 8em;
  --spacing6: 12em;

  --smallPadding: var(--spacing2) var(--spacing3);
  --largePadding: var(--spacing4) var(--spacing6);
  --buttonPadding: var(--spacing2) var(--spacing3);
  --containerPadding: var(--spacing2);

  --mainWidth: 90vw;
  --mainWidthHalf: calc(90vw / 2);
  --mainWidthThird: calc(90vw / 3);
  --mainWidthFourth: calc(90vw / 4);

  --max-page-width: 980px;
  --breakpoint--sm: 768px;
  --breakpoint--md: 1024px;
  --breakpoint--lg: 1100px;

  --font-xs: 12px;
  --font-sm: 16px;
  --font-md: 20px;
  --font-lg: 28px;
  --font-xl: 36px;
  --font-xxl: 48px;

  --borderRadius: 0.2em;

  --mobileMenuButtonWidth: 30px;
  --mobileMenuButtonHeight: calc(var(--mobileMenuButtonWidth) * 0.75);

  --font-body: 'Open Sans', sans-serif;
  --font-header: 'Covered By Your Grace', cursive;
}

@media only screen and (max-width: 680px) {
  :root {
    --smallPadding: var(--spacing2) var(--spacing2);
    --largePadding: var(--spacing4) var(--spacing2);
  }
}

@media only screen and (min-width: 1990px) {
  :root {
    --max-page-width: 1440px;
  }
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

section {
  margin-bottom: var(--spacing5);
}

h1,
h2,
h3,
h4,
h5 {
  font-family: var(--font-header);
}

h1 {
  font-size: var(--font-xxl);
  font-weight: 700;
}
h2 {
  font-size: var(--font-xl);
  font-weight: 600;
}
h3 {
  font-size: var(--font-lg);
  font-weight: 600;
}
h4 {
  font-size: var(--font-md);
}
h5 {
  font-size: var(--font-sm);
}

p,
b {
  white-space: pre-line;
  line-height: var(--font-md);
  font-size: var(--font-sm);
  font-family: var(--font-body);
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
  text-indent: 0;
  list-style-type: 0;
}

button {
  padding: var(--buttonPadding);
  border-radius: 5px;
  border: none;
  cursor: pointer;
}

input,
select,
textarea {
  padding: var(--buttonPadding);
  border-radius: 5px;
  border: 1px solid var(--gray);
}

a {
  transition: color 200ms;
}

a:hover {
  text-decoration: underline;
  color: var(--lightBlue);
}

* {
  box-sizing: border-box;
}

.rounded {
  border-radius: 50%;
}
.Juicer h1 {
  display: none !important;
}

.elfsight .eapps-button-wrapper {
  background: none !important;
}
.elfsight .eapps-button {
  border-radius: var(--borderRadius);
  background-color: var(--blue);
  font-family: var(--font-header);
  font-size: var(--font-md);
  transition: background-color 200ms ease-in;

  position: relative;
  bottom: 10px;
}

.elfsight .eapps-button:hover {
  background-color: var(--lightBlue);
}

.elfsight .eapps-title {
  font-family: var(--font-header);
  font-size: var(--font-xl);
}
